.login-root {
  min-height: 100vh;
  display: flex;
  background-color: var(--color-bg-base);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
}

.login-split {
  display: flex;
  width: 100%;
}

/* We will reuse login styles for forgot password layout */
